@charset "UTF-8";

* {
    padding: 0;
    margin: 0 2px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(16, 16, 16);
    color: whitesmoke;
}

header {
    display: flex;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    flex-wrap: wrap;
    position: relative;

    /*REMOVA ESTA PROPRIEDADE !!!!!!!!!!!!!!!!!!!!!!!!*/
    border: 1px dashed;
}

header img {
    height: 36px;
    width: 36px;
    margin-right: 10px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 50%;
    flex: 0 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    margin: 10px auto;
    flex: 1;
}

header nav {
    flex-basis: 100%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header a {
    color: whitesmoke;
    text-decoration: none;
    margin: 2px 5px;
    padding: 2px;
    font-size: 0.9em;
}

main table {
    /* border-collapse: collapse; */
    width: 100%;
    /* border: 2px dashed blue; */
    margin: 0;
    table-layout: fixed;
}

main th,
td {
    border: 1px solid whitesmoke;
    padding: 2px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.day {
    /* border: 1px dotted; */
    text-align: left;
    height: fit-content;
}

.content {
    /* border: 1px dotted; */
    font-size: 0.75em;
    text-align: justify;
    margin: 5px;
}


@media (max-width: 400px) {
    html {
        font-size: 14px;
    }

    header img {
        width: 25px;
        height: 25px;
        padding: 3px;
        border-radius: 50%;
    }

    header a {
        font-size: 0.9em;
    }

    .content {
        /* border: 1px dotted; */
        font-size: 0.6em;
    }
}